@import 'tailwindcss' layer(base);

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-grass-green: #84fb9695;
  --color-wheat: #f2fddf;
  --color-leafy: #C0F862;
  --color-olive-green: #195900;
  --color-dark-violet: #402B6D;

  --font-main: 'Roboto Mono', monospace;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  font-family: var(--font-main);
}

nav {
  background-color: var(--color-dark-violet);
  color: var(--color-leafy);
}

.landing-body {
  background: linear-gradient(
    to bottom right,
    #004080,
    #00264d,
    #000033,
    #000000
  );
  color: #fff;
}

.signup-body {
  color: rgb(var(--foreground-rgb));
  padding: 20px;
  /*background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
    /*color:  #84fb9695;*/
}

.section-header {
  @apply mb-5 text-2xl tracking-wide font-bold;
}

.hr-line {
  border: none;
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin: 15px 0;
}

.info {
  margin-bottom: 20px;
}

.join-button {
  @apply bg-indigo-600 hover:bg-indigo-800 font-bold py-2 px-4 rounded-sm my-6 inline-block;
  color: #fff;
}

.formStyle{
  @apply w-full h-full p-4 my-2 text-start border-2 rounded-sm focus:bg-wheat focus:outline-hidden focus:border-leafy 
}


@media (max-width: 768px) {
  .title {
    @apply text-3xl;
  }

  .subtitle {
    @apply text-2xl;
  }

  .info {
    @apply text-base;
  }

  .join-button {
    @apply text-sm py-2 px-4;
  }

  .signupOpt{
    @apply w-12 m-4 border-green-700 border-4 shadow-md rounded-full p-2
  }
}